In [1]:
a = 5
print(a, "is of the type", type(a))
a = 2.0
print(a, "is of the type", type(a))

5 is of the type <class 'int'>
2.0 is of the type <class 'float'>

In [2]:
student = [100, 200, 300]
for i in student:
    print(i)

100
200
300

In [3]:
dict1 = {"name":"viraj", "age":18}
print(dict1["name"])

viraj

In [6]:
str1 = "viraj"
for i in str1:
    print(i)

v
i
r
a
j

In [11]:
print([i for i in range(1, 100)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [12]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [13]:
print([i+2*(64) for i in range(1,10)])

[129, 130, 131, 132, 133, 134, 135, 136, 137]

In [15]:
def test():
    return "virah", "hi", "bye"

print(test())

('virah', 'hi', 'bye')